header {
    margin: 0;
    border: 0;
    background-color: white;
}

body {
    margin: 0;
    border: 0;
}

.fundo img {
    margin-top: 70px;
    width: 100%;
    height: 500px;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 10px;
    left: 50px;
}

.logo img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
}

.menu {
    position: absolute;
    top: 10px;
    right: 50px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.menu img {
    width: 80px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
    margin-left: 20px;
    cursor: pointer;
}

.menu img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px white;
}

.menu a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.titulo {
    position: absolute;
    top: 110px;
    right: 50px;
    float: right;
    width: 27%;
    height: 100%;
    color: white;
    font-size: 30x;
    font-weight: bold;
    text-shadow: black 0px 0px 10px;
}

.conteudo_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo_principal h1 {
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards .card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    width: 300px;
    background-color: white;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.cards img {
    width: 100%;
    height: 200px;
    scroll-snap-align: center;
}

.cards .card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;

}

.conteudo-secundario {
    position: relative;
}

.conteudo-secundario img {
    width: 100%;
    height: 500px;
}

.conteudo-secundario h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: black 0px 0px 10px;
}

.conteudo-secundario p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: black 0px 0px 10px;
}


.cards-comentario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.cards-comentario .card-comentario {
    width: 300px;
    margin: 30px;
    padding: 10px;
    width: 300px;
    background-color: white;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.cards-comentario img {
    width: 100%;
    height: 250px;
    border-radius: 50%;
    border: 5px solid white;
    scroll-snap-align: center;
}

.cards-comentario .card-comentario:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
}


  
.rodape {
    position: relative;

}

.rodape img {
    width: 100%;
    height: 500px;
}

.rodape h3 {
    position: absolute;
    top : -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.rodape2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.rodape2 p {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0; 
}

.fundo-sobre img {
    margin-top: 70px;
    width: 100%;
    height: 1500px;
    
}

.sobre1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: black 0px 0px 10px;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .forms label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .forms input[type="text"],
  .forms input[type="email"],
  .forms textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .forms button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
  }